#resultlinechartcontainer {
	float: left;
	width: 50vw;
	/*background-color: orange;*/
}

#resulttotaltimecontainer {
	float: right;
	width: 50vw;
	/*background-color: yellow;*/
	font-size: 8vh;
	text-align: center;
	/*height: 50vh;*/
	padding-top: 25vh;
	/*padding-bottom: 15vh;*/
}

#result-top {
	height: 70vh;
	/*background-color: green;*/
}

#resultprogresscontainer {
	float: right;
	width: 40vw;
	text-align: center;
	padding-top: 12vh;
	padding-right: 5vw;
	/*margin: 20vh;*/
}